In [2]:
import pandas as pd

In [3]:
import sqlite3

In [4]:
connection = sqlite3.connect('../test/DB - Test.db')

In [9]:
query = "SELECT * FROM sqlite_master;"

query2 = "select * from sqlite_master;"

In [11]:
pd.read_sql_query(query, connection)['sql']

0    CREATE TABLE "order" (\n"timestamp" TEXT,\n  "...
1    CREATE TABLE "good" (\n"goods_id" INTEGER,\n  ...
2    CREATE TABLE "shop" (\n"shop_id" INTEGER,\n  "...
3    CREATE TABLE "log" (\n"timestamp" TEXT,\n  "us...
4    CREATE TABLE "user" (\n"user_id" TEXT,\n  "os"...
Name: sql, dtype: object

In [18]:
query = "select * from 'user'"
user = pd.read_sql(query, connection)
user.head()

                            user_id   os  age
0  --PYPMX8QWg0ioT5zfORmU-S5Lln0lot  And   41
1  -16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv  iOS   31
2  -1de9sT-MLwVVvnC0ncCLnqEqpSi3XSN  iOS   16
3  -3A3L2jnM55B_Q1bRXMjZ6sPnINIj-Y1  And   41
4  -3bhcSgPOIdQAPkPNcchxvECGqGQQ78k  And   42

In [16]:
query = "select * from 'log'"
log = pd.read_sql(query, connection)

In [19]:
pd.merge(user,log).head()

,user_id,os,age,timestamp,event_origin,event_name,event_goods_id,event_shop_id
0,--PYPMX8QWg0ioT5zfORmU-S5Lln0lot,And,41,2018-06-11 15:57:10.615,shops_bookmark,app_page_view,NaN,NaN
1,--PYPMX8QWg0ioT5zfORmU-S5Lln0lot,And,41,2018-06-11 15:59:05.505,shops_bookmark,app_page_view,NaN,NaN
2,-16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv,iOS,31,2018-06-11 00:55:37.309,my_goods,app_page_view,NaN,NaN
3,-16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv,iOS,31,2018-06-11 00:55:44.430,my_goods,enter_browser,2506.0,40.0
4,-16-xXbeDcvkZJtTpRwMi57Yo2ZQpORv,iOS,31,2018-06-11 01:00:33.295,my_goods,app_page_view,NaN,NaN

In [20]:
t1 = pd.merge(user,log)
t1.shape

(105815, 8)

In [22]:
t2 = pd.merge(user, log, how = 'outer')
t2.shape

(105906, 8)

In [23]:
t3 = pd.merge(user, log, how = 'left')
t3.shape

(105906, 8)

In [24]:
t4 = pd.merge(user, log , how = 'right')
t4.shape

(105815, 8)